<%# if show_post is not passed in, set it to false (so you only need to pass it in if you want to show post) %>
<% show_post ||= false %>

<div class="card">
  <div class="card-body">
    <em>"<%= comment.body %>"</em>
    <% if show_post %>
      <span>on <%= link_to comment.post.title, post_path(comment.post) %></span>
    <% end %>
    <br />
    <span class="quiet">by</span> <%= link_to comment.creator.username, user_path(comment.creator) %>
    <span>at <%= display_datetime(comment.created_at) %></span>
  </div>
</div>