<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
  <%= link_to "Postit!", root_path, :class => 'navbar-brand' %>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <% Category.all.each do |category| %>
          <%= link_to category.name, category_path(category), class: "dropdown-item" %>
        <% end %>
      </div>
    </li>
    <li>
      <%= link_to "New Category", new_category_path, class: "btn btn-primary ml-4" %>
    </li>
  </ul>
</nav>
